body {
  font-family: "Roboto", sans-serif;
  font-size: 1.5vh;
  line-height: 2.8vh;
  color: #457b9d;
  background-color: #faf9f9;
  letter-spacing: 0.03em;

}

.text-content{
  margin: 5% 20%;
}

h1 {
  line-height: 3vh;
  color: #023047;
}

#intro {
  text-align: justify;
}

.title {
  color: #023047;
  font-size: 3vh;
}
.subtitle {
  color: #023047;
}

a {
  text-decoration: none;
}
a:visited {
  text-decoration: none;
  color: #457b9d;
}

.project-box-wrapper {
  display: grid;
  grid-template-columns: 1fr;
  grid-row-gap: 5px;
}

.contact-icon {
  margin-right: 1.5vh;
}

.footer {
  /* margin: 5% 20%; */
  text-align: center;
}

@media only screen and (max-device-width: 1000px) {
  .text-content {
    margin: 5% 5%;
    font-size: 1vh;
  }
  svg {
    width: 6%;
    height: 3%;
  }
}

#headerline-1, #headerline-2{

  width: 100%;
}

#headerline-1 {
  background-color: #ffba08;
  height: 1.5vh;
}

#headerline-2 {
  background-color: #f48c06;
  height: 2.5vh;
}
